<div class="container">
    <br>
    <div class="border">
        <div class="input-group">
            <div>
                <button class="btn btn-outline-primary" (click)="newEnquiry(content)"><i class="fa fa-user"></i> New
                    Enquiry</button>
            </div>
            <!-- <div>
                <select #selectName name="firstName" id="firstName" class="form-control"
                    (change)="searchByName(selectName.value)">
                    <option selected disabled>Select Firstname</option>
                    <option value="0">All</option>
                    <option *ngFor="let enq of allEmployees" value="{{emp.firstName}}">{{emp.firstName}}</option>
                </select>
            </div> -->
        </div>
    </div>
    <br>
    <div>
        <table class="table table-bordered table-striped">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Email</th>
                    <th>Highest Qualification</th>
                    <th>Date of Enquiry</th>
                    <th>Enquired Courses</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let enq of enquiries | paginate:{itemsPerPage:4, currentPage:page}; let i = index">

                    <td>{{enq.enquiryId}}</td>
                    <td>{{enq.name}}</td>
                    <td>{{enq.dob}}</td>
                    <td>{{enq.email}}</td>
                    <td>{{enq.highestQual}}</td>
                    <td>{{enq.enqDate}}</td>
                    <td>
                        <span *ngFor="let course of enq.enquiredCourses;let i=index">{{course.courseName}} <span
                                *ngIf="i < enq.enquiredCourses.length-1">,</span> </span>
                    </td>
                    <td>{{enq.status.statusName}}</td>
                    <td>
                        <button class="btn btn-info btn-sm"><i class="fa fa-search"></i> Search</button>
                        <button class="btn btn-warning btn-sm" (click)="updateEnquiry(contentEdit,enq)"><i
                                class="fa fa-edit"></i>
                            Edit</button>
                        <button class="btn btn-danger btn-sm"><i class="fa fa-remove"></i> Delete</button>
                    </td>

                </tr>

            </tbody>
        </table>
        <div class="border">
            <pagination-controls (pageChange)="page = ($event)"></pagination-controls>
        </div>
    </div>

    <!-- Add Form -->
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">New Enquiry</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="addForm" autocomplete=off (ngSubmit)='onSubmit()'>

                <div class="form-group">
                    <label for="name">Name</label>
                    <div class="input-group">
                        <input formControlName="name" class="form-control" required>
                        <!-- <span class="text-danger"
                            *ngIf="(isSubmitted || formControls.name.touched) && formControls.name.errors">Name
                            is required</span> -->
                    </div>
                </div>
                <div *ngIf="(isSubmitted || formControls.name.touched) && formControls.name.errors">

                    <div *ngIf="formControls.name.errors?.required" style="color: red; text-align: left;">
                        Name is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="dob">DOB</label>
                    <div class="input-group">
                        <input formControlName="dob" type="date" class="form-control">
                    </div>
                </div>
                <div *ngIf="isSubmitted && formControls.dob.errors">
                    <div *ngIf="formControls.dob.errors.required" style="color: red; text-align: left;">
                        <sup>*</sup> DOB is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <input formControlName="email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="highestQual">Highest Qualification</label>
                    <div class="input-group">
                        <input formControlName="highestQual" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label>Enquired Course</label>
                    <div *ngFor="let course of courses" class="input-group">
                        <label>
                            <input type="checkbox" [value]="course.courseId" (change)="onCheckChange($event)"
                                formControlName="enquiredCourses">
                            {{course.courseName}}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>

                    <select name="status" id="status" class="form-control">
                        <option selected disabled>Select Status</option>
                        <option *ngFor="let status of statuses" value="{{status.statusId}}">{{status.statusName}}
                        </option>
                    </select>
                </div>
                <div class="border text-center">
                    <button class="btn btn-info">Submit</button>
                </div>
            </form>


        </div>
    </ng-template>

    <!-- Edit Form -->
    <ng-template #contentEdit let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">New Enquiry</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="addForm" autocomplete=off (ngSubmit)='onSubmit()'>

                <div class="form-group">
                    <label for="name">Name</label>
                    <div class="input-group">
                        <input formControlName="name" class="form-control" required>
                        <!-- <span class="text-danger"
                            *ngIf="(isSubmitted || formControls.name.touched) && formControls.name.errors">Name
                            is required</span> -->
                    </div>
                </div>
                <div *ngIf="(isSubmitted || formControls.name.touched) && formControls.name.errors">

                    <div *ngIf="formControls.name.errors?.required" style="color: red; text-align: left;">
                        Name is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="dob">DOB</label>
                    <div class="input-group">
                        <input formControlName="dob" type="date" class="form-control">
                    </div>
                </div>
                <div *ngIf="isSubmitted && formControls.dob.errors">
                    <div *ngIf="formControls.dob.errors.required" style="color: red; text-align: left;">
                        <sup>*</sup> DOB is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <input formControlName="email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="highestQual">Highest Qualification</label>
                    <div class="input-group">
                        <input formControlName="highestQual" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label>Enquired Course</label>
                    <div *ngFor="let course of courses" class="input-group">
                        <label>
                            <input type="checkbox" [value]="course.courseId" (change)="onCheckChange($event)"
                                formControlName="enquiredCourses">
                            {{course.courseName}}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>

                    <select name="status" id="status" class="form-control">
                        <option selected disabled>Select Status</option>
                        <option *ngFor="let status of statuses" value="{{status.statusId}}">{{status.statusName}}
                        </option>
                    </select>
                </div>
                <div class="border text-center">
                    <button class="btn btn-info">Submit</button>
                </div>
            </form>


        </div>
    </ng-template>